.card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease;
  width: 300px;  /* <-- Estos 2 lo arreglan */
  height: 400px;
  margin: 0 auto;
}


.card:hover {
  transform: scale(1.03);
}

.imageWrapper {
  height: 180px;
  overflow: hidden;
  border-radius: 8px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  font-size: 0.9rem;
  color: #666;
  margin: 10px 0;
}

.price {
  font-size: 1.1rem;
  color: #ff3399;
  font-weight: bold;
  margin-bottom: 10px;
}

.addButton {
  background-color: #ff3399;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #e52e85;
}
